@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root 
{
    --bg: #1e202e;
    --bg-secondary: #16161e;
    --text: rgb(240, 232, 213);
    --text-hover: rgb(220, 215, 201);
}

body, html 
{
    margin: 0px;
    
}

.sheader 
{
    min-height: 50px;
    display: flex;
    background-color: var(--bg-secondary);
    justify-content: center;
    align-content: center;
}

body 
{
    font-family: 'Source Code Pro', monospace;
    background: var(--bg);
    color: var(--text);
}

div.compteurs 
{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

}

@media screen and (max-width: 615px) {
    div.compteurs 
    {
        flex-direction: column;
    }
}

div.compteur 
{
    padding: 20px;
    background-color: var(--bg-secondary);
    border-radius: 3px;
    box-shadow: 3px 3px 7px 3px rgba(52, 43, 43, 0.22);
}

div.compteur .header
{
    padding: 2px;
    border-bottom: 1px solid white;
}

div.compteur .header .label
{

    font-style: italic;
    font-size: 0.8em;

}

div.compteur .header .interval
{

    font-style: bold;
    font-size: 0.8em;

}

div.compteur .body 
{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body h1 
{
    text-align: center;
}

body h2 
{
    text-align: center;
    font-size: 1em;
    font-style: italic;
}

#new
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    transform: translate(-50%, -50%);
}

#new > p
{
    position: relative;
    border-radius: 50%;
    background-color: green;
    width: 38px;
    height: 38px;
    margin: 5px;
    font-size: 3em;
    color: var(--text);
    font-size: 38px;
    float: left;
    text-align: center;
    line-height: 38px;
    transition-duration: 0.3s;
    cursor: pointer;
    border: none;
}

#new > p:hover 
{
    transform: scale(2,2);
    transition-duration: 0.3s;

}

#import
{
    position: fixed;
    bottom: 30px;
    right: 75px;
    transform: translate(-50%, -50%);
}


#import > p
{
    position: relative;
    border-radius: 50%;
    background-color: rgb(146, 48, 23);
    width: 38px;
    height: 38px;
    margin: 5px;
    color: #fff;
    font-size: 1.5em;
    float: left;
    text-align: center;
    line-height: 38px;
    transition-duration: 0.3s;
    cursor: pointer;
    border: none;
}

#import > p:hover 
{
    transform: scale(2,2);
    transition-duration: 0.3s;

}

.compteur button 
{
    background-color: rgb(202, 134, 50);
    border-radius: 5px;
    height: 50px;
    width: 50px;
    color: white;
    font-size: 1.3em;
    border: none;
    transition-duration: 0.2s;  
    margin: 0 5px;

}


.compteur button.setting
{
    height: 30px;
    width: 30px;
    font-size: 0.8em;
    background-color: transparent;
}

.compteur button.success
{
    background-color: rgb(120, 197, 87);
}

.compteur button.success:hover
{
    background-color: rgb(134, 180, 115);
}

.compteur button.reset
{
    background-color: rgb(190, 49, 49);
}

.compteur button.reset:hover
{
    background-color: rgb(235, 79, 79);
}

.compteur button:hover
{
    background-color: rgb(18,13,15, 0.5);
    transition-duration: 0.4s;
}


img 
{
    transition-duration: 0.4s;
}

#popup {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-secondary);
    z-index: 99;
    position: absolute;
    top: 0;
  }

div#modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    margin: auto;	
    width: 70%;
    height: auto;
    display: none;
    overflow-y: auto;
    background-color: var(--bg);
    box-sizing: border-box;
    z-index: 20;
}

div#model-background {
	width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 19;
}

div#modal input[type='text'] 
{
    padding: 7px;
    margin: 10px;
}

div#modal input[type='submit']
{
    padding: 15px 10px;
    color: black;
    background-color: rgb(207, 206, 206);
    font-size: 1em;
    font-weight: bold;
    border: none;
    transition: 0.3s;
}

div#modal input[type='submit']:hover
{

    background-color: rgb(162, 159, 159);
    transition: 0.3s;
}

div#modal input[type='button']
{
    padding: 15px 10px;
    color: black;
    background-color: white;
    font-size: 1em;
    font-weight: bold;
    border: none;
    transition: 0.3s;
}

div#modal input[type='button']:hover
{

    background-color: rgb(162, 159, 159);
    transition: 0.3s;
}

div#modal #close_modal {
    margin: 5px;
    padding: 15px;
    position: absolute;
    color: white;
    font-size: 2em;
    top: 5px;
    right: 5px;
    border: none;
    background-color: transparent;
    font-weight: bolder;
    transition: 0.3s;
}

div#modal #close_modal:hover 
{
    color: rgb(22, 18, 18);
    border-radius: 2px;
    transition: 0.3s;
    background-color: rgb(74, 67, 67);

}
